<div class="titulo-sessao">
    <h2>BOUDUIR</h2>
</div>

<div class="container">
    
  <div class="fotografias">
    
       <img src="/images/bouduir-talita.jpg" alt="">
       <img src="/images/bouduir-talita2.jpg" alt="">
       <img src="/images/bouduir-talita3.jpg" alt="">
       <img src="/images/bouduir-talita4.jpg" alt="">
       <img src="/images/bouduir-talita5.jpg" alt="">
       <img src="/images/bouduir-amanda.jpg" alt="">
       <img src="/images/bouduir-amanda2.jpg" alt="">
       
  
    </div>
</div>