
<div class="titulo-sessao">
    <h2>EVENTOS</h2>
</div>

<div class="container">
    <div class="fotografias">
         <img src="/images/rafael&ana1.jpg" alt="">
         <img src="/images/rafael&ana2.jpg" alt="">
         <img src="/images/regis&sarah1.png" alt="">
         <img src="/images/regis&sara2.png" alt="">
         <img src="/images/bodas.jpg" alt="">
         <img src="/images/coth.jpg" alt="">
         <img src="/images/coth2.jpg" alt="">
    </div>
</div>
