<div class="menu">
    <div class="apresentacao">
        <h2>ESCOLHA A SESSÃO</h2>
    </div>
    <div class="album">
        <div class="retrato">
             <a href="/retrato"><h3>RETRATO</h3><img src="/images/eu.jpg" alt=""></a>
        </div>
        <div class="animais">
             <a href="/animais"><h3>ANIMAIS</h3><img src="/images/animais.jpg" alt=""></a>
        </div>
        <div class="gestantes">
             <a href="/gestantes"><h3>GESTANTES</h3><img src="/images/gestantes.jpg" alt=""></a>
        </div>
        <div class="eventos">
             <a href="/eventos"><h3>EVENTOS</h3><img src="/images/eventos.jpg" alt=""></a>
        </div>
        <div class="bouduir">
             <a href="/bouduir"><h3>BOUDUIR</h3><img src="/images/bouduir-talita5.jpg" alt=""></a>
        </div>
        <div class="paisagem">
             <a href="/paisagem"><h3>PAISAGEM</h3><img src="/images/trailer.jpg" alt=""></a>
        </div>
        <div class="conceitual">
             <a href="/conceitual"><h3>CONCEITUAL</h3><img src="/images/morro.jpg" alt=""></a>
        </div>
    </div>
</div>