<div class="titulo-sessao">
    <h2>GESTANTES</h2>
</div>

<div class="container">
    <div class="fotografias">
        <img src="/images/ana1.jpg" alt="">
        <img src="/images/ana2.jpg" alt="">
        <img src="/images/sapatos.jpg" alt="">
        <img src="/images/maria.jpg" alt="">
        <img src="/images/maria2.jpg" alt="">
        <img src="/images/maria3.jpg" alt="">
    </div>
</div>