
 
    
<section class="secao">
    <div class="title-galeria">
        <h2>seja bem vindo ao meu portfólio!</h2>
     </div>
    <div class="galeria">
        <ul >
        <li>
            
           
            <img src="/images/ceu.jpg" alt="">
        </li>

        <li>
          
            
            <img src="/images/cidade.jpg" alt="">
        </li>

        <li>
            
            <img src="/images/neve.jpg" alt="">
        </li>

        <li>
            
            
            <img src="/images/flor.jpg" alt="">
        </li>
         <li>
            
            
            <img src="/images/ceu-vermelho.jpg" alt="">
        </li>

        <li>
          
           
            <img src="/images/arvore.jpg" alt="">
        </li>

        <li>
            
            
            <img src="/images/morro.jpg" alt="">
        </li>

        <li>
            
         
            <img src="/images/trailer.jpg" alt="">
        </li>
        
    </ul>

    
   
    </div>
  
   
   
</section>
 