<div class="titulo-sessao">
    <h2>PAISAGEM</h2>
</div>

<div class="container">
    
  <div class="fotografias">
    
       <img src="/images/trailer.jpg" alt="">
       <img src="/images/campos.jpg" alt="">
       <img src="/images/ceu-vermelho.jpg" alt="">
       <img src="/images/cidade.jpg" alt="">
       <img src="/images/ceu.jpg" alt="">
       <img src="/images/flor.jpg" alt="">
       <img src="/images/arvore.jpg" alt="">
       <img src="/images/morro.jpg" alt="">
       
  
    </div>
</div>