<div class="titulo-sessao">
    <h2>RETRATO</h2>
</div>

<div class="container">
   <div class="fotografias">
     <img src="/images/amanda.jpg" alt="">
    <img src="/images/talita.jpg" alt="">
    <img src="/images/retrato-talita.png" alt="">
    <img src="/images/amanda2.jpg" alt="">
    <img src="/images/bruno.jpg" alt="">
    <img src="/images/andrey.jpg" alt="">
    <img src="/images/andrey2.jpg" alt="">
   
    
   </div>
</div>