<div class="titulo-sessao">
    <h2>SOBRE MIM</h2>
</div>
<div class="foto-eu">
   
    <div class="text">
        <p>
            Ola, eu me chamo Vanderlei, tenho 44 anos de idade e sou entusiasta na fotografia.
            comecei a estudar <br/>  pela internet em meados de 2014, ano que tambem comprei minha primeira camera, uma canon t5i <br>com uma lente do kit 18-55. ao longo do processo, fui adquirindo novos 
             equipamentos,  como  a lente <br> 50mm, que me ajudou a aprender melhor a tirar fotos de retrato.  mas o que realmente  mudou a minha <br>  percepção, foi quando comecei a trabalhar com o flash externo, 
             que me deu novas possibilidades  e <br>  impulsionou meu aprendizado. troquei minha camera "cropada" 
              por uma canon 6d,  full frame de entrada, <br>  e expandi novamente meus horizontes. fiz alguns trabalhos 
              remunerados e outros nao remunerados.  muitos <br> deles estão exibidos nesse site. por aqui continuo nesse longo caminho do aprendizado  e minha  intenção <br>  sempre será aprender mais dessa arte poderosa  
              e gratificante que é a fotografia.
        </p>
    </div>
    <div class="eu-img"> <img src="/images/eu.jpg" alt=""></div>
</div>